html, body
{
  height: 100%;
  text-align: center;
  
}

body
{
background-image: linear-gradient(to right top, #33a0f1, #2591d9, #1882c1, #0a73aa, #006494);

}



.logo
{
	width: 60px;margin-top: 20px;border-radius: 40px;
    text-align: center;
}

#login_button
{
	width: 80%;border-radius: 15px;
}
h1 {
    color: royalblue;
}
.rels {
    text-align: center;
}
